@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&display=swap');

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-select{
  font-size: 20px;
  color: #353535;
  background-color: #D9D9D9;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border: 3px solid #3C6E71;
  padding: 10px;
}

.container {
  background-image: url('https://wallpaperaccess.com/full/649202.jpg');
}

/* .accueil,
.leaderboard,
.nouvelle-question,
.custom-select */
.container li
{
  display: inline-block;
  margin: 35px;
}

.container ul{
  text-decoration: none;
  color: #353535;
  font-size: 18px;
}

.accueil p{
  display: inline-block;
  margin: 20px;
}
